/* Main sass file */

%hidden {
    display: none;
}

%visible {
    display: block;
}

.testimonial-slider {
    position: relative;
    overflow: hidden;

    .quote-wrapper {
        min-height: 300px;
        overflow: hidden;
    }

    .quote {
        display: none;
        position: absolute;
        top: 50%;
        height: 0px;

        & div {
            transform: translateY(-50%);
        }
        
        /* Slider effect */
        &.from-left {
            transform: translateX(-100%);
        }

        &.from-right {
            transform: translateX(100%);
        }

        /* Fade effect */
        &.faded {
            opacity: 0;
        }

        &[data-target=active] {
            @extend %visible;
        }
        &.in-motion {
        }
    }

    .bubble-nav {
        
        position: absolute;
        bottom: 0px;
        width: 100%;
        text-align: center;

        .bubble {
            display: inline-block;
            width: 9px;
            height: 9px;
            border-radius: 100%;
            margin-right: 5px;  
            cursor: pointer;

        }

        .bubble:not(.active) {
            border: 1px solid black; 
        }
        
        .bubble.active {
            width: 10px;
            height: 10px;
            background-color: black;     
        }


    }
}
.arrow-nav {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 50%;
    left: 0;
    div {
        cursor: pointer;
        &.slide-left {
            float: left;
        }
        &.slide-right {
            float: right;
        }
        i {
            font-size: 2em;
        }
    }
}